In [1]:
# import pandas
import pandas as pd

In [2]:
# Load data

df = pd.read_csv('D:\\Minda\\School\\University\\3 rd Year (2022-\\4 - Fall 2023 Semester\\MGTC28H3 - LEC 01\\Group Project - Nov 28\\data\\clean\\All Merged.csv')

In [3]:
df

,Year,Week,Date,Need States,Dc Amount,Store Amt On Hand,Factory POS,Ecomm POS (Factory $),Sales,Trade Spend
0,2021,1,2021-01-04,Need State 1,1445929.50,3667244.25,317435.25,3684.75,132818.25,5552
1,2021,1,2021-01-04,Need State 2,2405549.25,2784957.75,410931.00,11283.00,251858.25,14264
2,2021,1,2021-01-04,Need State 3,1618319.25,3838764.00,355992.75,11958.75,209473.50,1563
3,2021,1,2021-01-04,Need State 4,1271980.50,1893348.00,451255.50,14755.50,373678.50,18716
4,2021,1,2021-01-04,Need State 5,601577.25,1055337.75,15795.00,448.50,246819.75,5075
...,...,...,...,...,...,...,...,...,...,...
720,2023,41,2023-10-09,Need State 1,2191140.00,5903348.25,338671.50,2469.00,550887.00,2918
721,2023,41,2023-10-09,Need State 2,1084670.25,4117591.50,351225.75,6606.75,221686.50,2361
722,2023,41,2023-10-09,Need State 3,1180187.25,4954347.00,271016.25,5431.50,121078.50,15546
723,2023,41,2023-10-09,Need State 4,737967.00,1948076.25,418831.50,8591.25,240855.75,7217
724,2023,41,2023-10-09,Need State 5,1352883.75,1329480.75,36111.00,928.50,600489.00,9652

In [4]:
# create dataframe of only Need State 5 entries
df_need_state_5 = df[df['Need States'] == 'Need State 5']

In [5]:
df_need_state_5

,Year,Week,Date,Need States,Dc Amount,Store Amt On Hand,Factory POS,Ecomm POS (Factory $),Sales,Trade Spend
4,2021,1,2021-01-04,Need State 5,601577.25,1055337.75,15795.00,448.50,246819.75,5075
9,2021,2,2021-01-11,Need State 5,601776.75,1049389.50,11154.75,285.75,465099.75,11307
14,2021,3,2021-01-18,Need State 5,670983.00,1050538.50,10549.50,276.00,548790.75,6585
19,2021,4,2021-01-25,Need State 5,624003.00,1042530.00,10443.00,237.75,553418.25,6835
24,2021,5,2021-02-01,Need State 5,602572.50,1041183.75,12430.50,433.50,323542.50,11902
...,...,...,...,...,...,...,...,...,...,...
704,2023,37,2023-09-11,Need State 5,1501643.25,1794207.00,54834.75,1051.50,586676.25,13570
709,2023,38,2023-09-18,Need State 5,1476577.50,1657944.00,49947.75,813.75,492169.50,4730
714,2023,39,2023-09-25,Need State 5,1426885.50,1442409.75,43021.50,663.75,642145.50,5446
719,2023,40,2023-10-02,Need State 5,1386183.75,1373699.25,57792.75,698.25,628323.75,3452
724,2023,41,2023-10-09,Need State 5,1352883.75,1329480.75,36111.00,928.50,600489.00,9652

In [6]:
# write the dataframe to a csv file
df_need_state_5.to_csv('D:\\Minda\\School\\University\\3 rd Year (2022-\\4 - Fall 2023 Semester\\MGTC28H3 - LEC 01\\Group Project - Nov 28\\data\\clean\\Need State 5.csv', index=False)